<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <select class="form-select" name="type" aria-label="Default select example">
            <option value="{{type}}" selected>目前選項：{{type}}</option>
            <option value="全部餐廳">全部餐廳</option>
            <optgroup label="餐廳種類">
              {{#each restaurantCategory}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </optgroup>
          </select>
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
      <div class="h1 text-center mt-5 text-break">
        搜尋不到關鍵字為{{keyword}}的{{type}}
      </div>
    </div>
  </div>
</div>